<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LostFlix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/app/Assets/Images/Logo.png">
    <link rel="stylesheet" href="/app/Assets/Css/Style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/app/Libraries/font-awesome-4.7.0/css/font-awesome.min.css">

    
</head>
<body>

<!-- HEADER: MENU -->
<header>
  <nav>
    <div class="navbar-logo">
      <img src="/app/Assets/Images/Frame 3.png" alt="Logo">
      <h1>LostFlix</h1>
    </div>
    <ul>
      <li><a href="#">Categorias</a></li>
      <li><a href="#">Cutscenes</a></li>
      <li><a href="#">Builds</a></li>
    </ul>
  </nav>
  


</header>

<!-- CONTENT -->

<section class="game-section">
  <h2 class="line-title">trending games</h2>
  <div class="owl-Carousel custom-carousel owl-theme">
    <div class="item" style="background-image: url(https://ucarecdn.com/19dae9b8-a733-4032-886c-ab8ab3e1de3b/);">
      <div class="item-desc">
        <h3>Lost Ark</h3>
        <p>Lost Ark é um jogo 2.5D action RPG multijogador massivo de fantasia com visão isométrica. É co-desenvolvido pela Tripod Studio e pela Smilegate RPG, subsidiária de desenvolvimento de jogos da Smilegate. Foi totalmente lançado na região sul-coreana em 4 de dezembro de 2019.</p>
        <a href="lostark.html" class="btn">Read more</a>
      </div>
    </div>
    <div class="item" style="background-image: url(https://ucarecdn.com/e393129c-a8fa-4853-8ad1-4a0691e79374/);">
      <div class="item-desc">
        <h3>Destiny 2</h3>
        <p>Destiny 2 é um jogo eletrônico de tiro em primeira pessoa multijogador desenvolvido pela Bungie e publicado pela Activision. Foi lançado para PlayStation 4 e Xbox One em 6 de setembro de 2017, seguido por uma versão para Microsoft Windows no mês seguinte. É a continuação de Destiny e de suas expansões subsequentes</p>
          <a href="#" class="btn">Read more</a>
      </div>
    </div>
    <div class="item" style="background-image: url(https://ucarecdn.com/60bb9b17-0421-41e5-9afa-cd666bc052fe/);">
      <div class="item-desc">
        <h3>Elsword</h3>
        <p>Elsword é um jogo eletrônico side-scrolling on-line de ação com elementos de MMORPG, criado e desenvolvido em 2007 pela empresa sul-coreana KOG' Studios sendo distribuída na Coreia do Sul pela Nexon. Elsword conta atualmente com 12 personagens, cada um com 3 linhagens diferentes.</p>
          <a href="" class="btn">Read more</a>
      </div>
    </div>
    <div class="item" style="background-image: url(https://ucarecdn.com/763052a6-849e-44f6-8c37-5430e765ec49/);">
      <div class="item-desc">
        <h3>Monster Hunter World</h3>
        <p>Monster Hunter: World é um jogo de RPG eletrônico de ação desenvolvido e publicado pela Capcom. O jogo faz parte da série Monster Hunter, foi lançado mundialmente em 26 de janeiro de 2018 para PlayStation 4 e Xbox One e em 9 de agosto de 2018 para Windows</p>
          <a href="" class="btn">Read more</a>
      </div>
    </div>
    <div class="item" style="background-image: url(https://ucarecdn.com/552462f7-9dba-46c5-b325-e8e51e3721a4/);">
      <div class="item-desc">
        <h3>Genshin Impact</h3>
        <p>Genshin Impact é um jogo eletrônico RPG de ação gratuito desenvolvido e publicado pela miHoYo.O jogo apresenta um ambiente de mundo aberto de fantasia e sistema de batalha baseado em ação usando Pontos de energia elemental e troca de personagem, e usa a monetização de jogo gacha para os jogadores obterem novos personagens, armas e outros recursos.O jogo é apenas online e apresenta um modo multiplayer limitado que permite até quatro jogadores jogarem juntos.</p>
          <a href="" class="btn">Read more</a>
      </div>
    </div>
    <div class="item" style="background-image: url(https://ucarecdn.com/1ffde040-c34c-4fef-9318-0b626f3914b8/);">
      <div class="item-desc">
        <h3>Elden Ring</h3>
        <p>Elden Ring é um jogo eletrônico de RPG de ação em terceira pessoa, desenvolvido pela FromSoftware e publicado pela Bandai Namco Entertainment. </p>
          <a href="" class="btn">Read more</a>
      </div>
    </div>
  </div>
  </div>
</section>
 <section class="about_site">
<p>This site consists of showing several cutscenes and builds of several games if you have more game opinions please send a message</p>
 </section>
<section class="feature-body">
  <div class="features">
    <div class="feature">
      <a href="#" class="feature-content">
        <strong>Action</strong>
        <span>Action games focus on physical challenges that require hand-eye coordination and quick reflexes</span>
      </a>
    </div>
    <div class="feature">
      <a href="#" class="feature-content">
        <strong>Casual</strong>
        <span>A casual game is a video game targeted at a mass market audience,targeted at hobbyist gamers</span>
      </a>
    </div>
    <div class="feature">
      <a href="#" class="feature-content">
        <strong>Race</strong>
        <span>A race is a contest of speed.</span>
      </a>
    </div>
    <div class="feature">
      <a href="#" class="feature-content">
        <strong>Strategy</strong>
        <span>The discipline mainly concerns the action of a player in a game affecting the behavior or actions of other players</span>
      </a>
    </div>
    <div class="feature">
      <a href="#" class="feature-content">
        <strong>RPG</strong>
        <span>A role-playing game (RPG) is a game in which each participant assumes the role of a character.</span>
      </a>
    </div>
    <div class="feature">
      <a href="#" class="feature-content">
        <strong>Simulation/Survival</strong>
        <span>Simulation games are a genre of games that are designed to mimic activities you'd see in the real world</span>
      </a>
    </div>
    <div class="feature">
      <a href="#" class="feature-content">
        <strong>Shooting</strong>
        <span>Shooter games focus on defeating enemies with given weapons.</span>
      </a>
    </div>
    <div class="feature">
      <a href="#" class="feature-content">
        <strong>Horror</strong>
        <span>A horror game is a video game genre centered on horror fiction and typically designed to scare the player</span>
      </a>
    </div>
  </div>
</section>
</body>
<!-- FOOTER: DEBUG INFO + COPYRIGHTS -->

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p>This site consists of showing several cutscenes and builds of several games if you have more game opinions please send a message</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="">Action</a></li>
          <li><a href="">Casual</a></li>
          <li><a href="">Race</a></li>
          <li><a href="">Strategy</a></li>
          <li><a href="">Rpg</a></li>
          <li><a href="">Simulation/Survival</a></li>
          <li><a href="">Shooting</a></li>
          <li><a href="">Horror</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
     <a href="#">Wilson Oliveira Junior</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="github" href="#"><i class="fa fa-github"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/app/Libraries/OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>
<script src="/app/Libraries/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
<script src="/app/Libraries/bootstrap/js/bootstrap.min.js"></script>
<script src="/app/Libraries/bootstrap/js/bootstrap.js"></script>
<script src="/app/Assets/Js/Script.js"></script>
</html>
