<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LostFlix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/app/Assets/Images/Logo.png">
    <link rel="stylesheet" href="/app/Assets/Css/Styles_pages.css">
    <link rel="stylesheet" href="/app/Assets/Css/Style.css">
    <link rel="stylesheet" href="/app/Assets/Css/Footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/app/Libraries/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app/Assets/Css/berling.css">
    <link rel="stylesheet" href="/app/Assets/Css/newsgothic.css">
</head>
<body>
    <header>
        <nav>
          <div class="navbar-logo">
            <img src="/app/Assets/Images/Frame 3.png" alt="Logo">
            <h1>LostFlix</h1>
          </div>
          <ul>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Cutscenes</a></li>
            <li><a href="#">Builds</a></li>
          </ul>
        </nav>
    
    
    
      </header>

      
<div class="pageContainer">
    <!--Header Title-->
    <h1 class="mainTitle"><span class="icon"></span>Classes</h1>
    <div id="social"></div>

    <!-- Begin Main Content -->
    <div id="mainContent">
        <div id="node-314230" class="node">

            <div class="content">


                <div class="holonet class wrapper">
                    <div id="knight">
                        <article>
                            <div class="classLabel">
                                <span class="icon republic"></span>
                                <h3 class="allegiance" contenteditable="false">Republic</h3>
                                <h2 contenteditable="false">Jedi Knight</h2>
                            </div>
                            <section class="overview">
                                <div class="narrow">
                                    <h3 contenteditable="false">
                                        Valiant, Determined, Guardian of Peace
                                    </h3>
                                    <p contenteditable="false">
                                        A symbol of hope in dark times, the Jedi Knight stands for the legacy of the
                                        Jedi Order—more than twenty-thousand years of protecting the Republic and
                                        keeping the peace across the galaxy. Jedi Knights have served as generals,
                                        guerilla fighters, and warriors
                                        for generations, with few able to challenge their legendary combat prowess.
                                    </p>
                                    <p contenteditable="false">
                                        Through years of disciplined training and meditation, the Jedi Knight hones body
                                        and mind into perfect harmony. Combining the foresight of the Force with
                                        unrivaled reflexes and practiced physical precision, the Knight turns combat
                                        into an art form, gracefully
                                        executing acrobatic feats in tandem with elegant lightsaber tactics.
                                    </p>
                                    <p contenteditable="false">
                                        A source of inspiration to allies and intimidation to adversaries, the Jedi
                                        Knight’s presence is welcome in any confrontation. The Order’s long history of
                                        fighting for justice has earned the trust of countless friends and the hate of
                                        innumerable enemies.
                                        Few, though, are foolish enough to challenge a seasoned Jedi Knight unless they
                                        have the skills and technology to even the odds.
                                    </p>
                                    <p contenteditable="false" style="width: 600px;">
                                        For many, the Jedi Knight is the guardian of a precious dream; a dream of peace,
                                        a dream of justice, a dream of a brighter future. The fate of the galaxy depends
                                        upon the Knight’s ability to keep this dream alive.
                                    </p>
                                </div>
                            </section>
                            <hr>
                            <h2 contenteditable="false">Advanced Classes</h2>
                            <h2 contenteditable="false">
                                <div id="guardian">
                                    <h3 style="margin-bottom: 10px;" ;="" contenteditable="false">Guardian</h3>
                                    <div id="advanceclass">
                                        <p contenteditable="false">
                                            A wall between the good people of the Republic and their enemies, the
                                            Guardian stands firm in the face of overwhelming odds and dares opponents to
                                            attack. Perfect concentration and use of the Force allows smooth movement
                                            even in heavy armor--making the Guardian a hard target to take down. Leaders
                                            on and off the battlefield, Guardians are known for inspiring allies to
                                            amazing feats, making them invaluable for conflicts of any size.
                                        </p>
                                    </div>
                                    <div id="roles">
                                        <div id="advancedcontainer">
                                            <h3 style="margin: 0px 10px;" contenteditable="false">Class Roles</h3>
                                            <p style="margin: 20px 10px 10px 55px;" contenteditable="false"><img
                                                    src="https://cdn-www.swtor.com/sites/all/files/en/coruscant/holonet/holonet_pages/roles/tank.JPG"
                                                    style="width: 35px; float: left; margin: -5px 5px 5px -40px;">Tank -
                                                The Defense Guardian reinforce their heavy armor with the force to soak
                                                up the brunt of attacks and protect more vulnerable allies.</p>
                                            <p style="margin: 20px 10px 10px 55px;" contenteditable="false"><img
                                                    src="https://cdn-www.swtor.com/sites/all/files/en/coruscant/holonet/holonet_pages/roles/damage.JPG"
                                                    style="width: 35px; float: left; margin: -5px 5px 5px -40px;">Damage
                                                - Vigilance and Focus Guardians unleash a whirlwind of lightsaber and
                                                force attack to deal both heavy and lasting damage against their foes.
                                            </p>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div id="sentinel">
                                    <h3 style="margin-bottom: 10px;" ;="" contenteditable="false">Sentinel</h3>
                                    <div id="advanceclass">
                                        <p contenteditable="false">
                                            Control and focus are the hallmarks of the Sentinel. Through years of
                                            training the Sentinel learns the art of using two Lightsabers simultaneously
                                            to create an intricate web of damage that is almost impossible to evade.
                                            Manipulating the Force, the Sentinel can see holes in the enemy defense,
                                            potential flaws in their own technique and how best to plan for both.
                                        </p>
                                    </div>
                                    <div id="roles">
                                        <div id="advancedcontainer">
                                            <h3 style="margin: 0px 10px;" contenteditable="false">Class Roles</h3>
                                            <p style="margin: 20px 10px 10px 55px;" contenteditable="false"><img
                                                    src="https://cdn-www.swtor.com/sites/all/files/en/coruscant/holonet/holonet_pages/roles/damage.JPG"
                                                    style="width: 35px; float: left; margin: -5px 5px 5px -40px;">Damage
                                                - The Watchman, Combat, and Concentration Sentinels have focused on
                                                Lightsaber Combat during their studies, and have become capable of
                                                wielding Dual Lightsabers to ensure a high amount of damage is dealt in
                                                a short time with a flurry of strikes.</p>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                        </article>
                        <div class="footer">
                        </div>
                    </div>
                </div>

                <div class="meta">



                </div>

            </div>

        </div>
        <!--End Main Content-->

    </div><!-- end page container -->
</div> <!-- end middle -->
</body>
<!-- FOOTER: DEBUG INFO + COPYRIGHTS -->

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p>This site consists of showing several cutscenes and builds of several games if you have more game opinions
            please send a message</p>
        </div>
  
        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="">Action</a></li>
            <li><a href="">Casual</a></li>
            <li><a href="">Race</a></li>
            <li><a href="">Strategy</a></li>
            <li><a href="">Rpg</a></li>
            <li><a href="">Simulation/Survival</a></li>
            <li><a href="">Shooting</a></li>
            <li><a href="">Horror</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
            <a href="#">Wilson Oliveira Junior</a>.
          </p>
        </div>
  
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="github" href="#"><i class="fa fa-github"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
<script src="/app/Assets/Js/pages.js"></script>
</html>

